.editCharacter {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.editCharacter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editCharacter input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.editCharacter button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editCharacter button:hover {
    background-color: #0056b3;
}
